#detailing 
{
	align-self: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 500px;
    height: 250px;
    background: #ffffff;
}
#detailingSchedule
{
	position:fixed;
	left: 10%;
	font-size: 21px;
	color: #000000;
	font-family: Trebuchet MS;
}
#detailingBook
{
	position:fixed;
	left: 10%;
	font-size: 21px;
	color: #000000;
	font-family: Trebuchet MS;
}
#detailingSelect
{
	position: fixed;
	right: 100px;
	bottom: 205px;
	width: 100px;
}
#bookSelect
{
	position: fixed;
	right: 100px;
	bottom: 30px;
	width: 100px;
}
#clickme
{
	position: fixed;
	top: 60%;
	left: 170px;
	width: 30px;
	z-index: 10;
	height: 30px;
}
#mapFrame
{
	position: fixed;
	bottom: 0%;
	left: 0%;
}

#destination
{
	position: fixed;
	top: 50%;
	left: 30%;
}

#upButton
{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 40%;
	left: 45%;
}

#downButton
{
	position: fixed;
	width: 50px;
	height: 50px;
	top: 0%;
	left: 45%;
	transform: rotate(180deg);
}